<router-outlet>
    <article class="artist-container">
        <div class="menu-artists">
            <a (click)="openCreateArtistModal()">Criar artista</a>

            <div>
                <form [formGroup]="formSearchArtist" (submit)="searchArtist()">
                    <input type="search" formControlName="search" id="artist-search" placeholder="Buscar por...">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>

        <div *ngIf="artists.length > 0" class="list-artist-container">
            <div class="card-artist" *ngFor="let artist of artists" [routerLink]="'/artistas/info/'+artist.id">
                <img [src]="artist.image"/>
                <div class="card-artist-content">
                    <span>{{ artist.name }}</span>
                    <span>{{ artist.category }}</span>
                </div>
            </div>
        </div>
    </article>
</router-outlet>

