/* You can add global styles to this file, and also import other style files */
*{margin:0;     }
.container{
    margin: 50px;


}
body{
    background:rgb(32, 32, 32) !important;
}
router-outlet{
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
