<header>
    <nav class="header-container">
        <ul>
            <div class="logo">
                <li><a routerLink="">HOME</a></li>
            </div>
            <div class="menu-items">
                <li><a routerLink="artistas">ARTISTAS</a></li>
                <li><a routerLink="categorias">CATEGORIAS</a></li>
            </div>
            <div class="menu-item-other">
                <li><a routerLink="">LOGIN</a></li>
                <li><a routerLink="">CONTATO</a></li>
            </div>
        </ul>
    </nav>
</header>